@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; */

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    font-size: 28px;
}

::-webkit-scrollbar{
    display: none;
}
html
{
    scroll-behavior: smooth;
}

body
{
    font-family: 'Open Sans', sans-serif;
    background-color: #121212;
    color: #fff;
}

header
{
    position: fixed;
    width: 344px;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #3f3f3f;
    overflow-y: auto;
    padding: 0.2rem 0 2rem 0;
}

ul li 
{
    list-style-type: none;
    padding: 5px 12px;
}

ul li a 
{
    font-size: 24px;
    text-decoration: none;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    color: #fff;
}

ul li a:hover
{
    text-decoration: underline;
}

a
{
    color: inherit;
    padding: 13px 0 12px 10px;
    font-weight: 500;
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

section
{
    margin-left: 344px;
    padding: 30px 10px;
    overflow-y: auto;
}

.title
{
    font-size: 52px;
    text-align: center;
}

.heading, .style,
.formatting
{
    background-color: #282828;
    height: auto;
    padding: 10px 30px 20px 10px;
    margin-top: 4rem;
    width: max-content;
    border: 1px solid #9494946c;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.subtitle
{
    display: flex;
    align-items: center;
    justify-content: center;
    color: orangered;
    gap:6px;

} 

.subtitle i
{
    font-size: 2em;
}

.subtitle h1
{
    font-size: 3em;
    padding-bottom: 28px;

}

.tag
{
    color: orangered;
}

.content
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 23px;
    flex-wrap: wrap;
}
